@page
@using Migrantes.App.Dominio
@model Migrantes.App.Presentacion.Pages.ConsultarModel
@{
}

<h1>Consulta de Migrantes</h1>

<form method="get">
    <div class="input-group">   
        <label form="Name">Por favor ingrese su numero de documento</label>   
 </div>
 <br>
        <input class="form-control" asp-for="numeroDocumento"/>
<br>
    <div class="input-group-append">
            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">Buscar</button>
        </div>
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Busqueda Realizada</h5>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Verifica tus datos, si desea actualizar por favor cambie los datos y presione boton actualizar
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Cerrar</button>

                </div>
            </div>
        </div>
    </div>
    
        
</form>

<form method="post" class="scroll">
    <div class="form-group">
        @*<label asp-for="migrante.Id"></label>*@
        <input asp-for="migrante.Id" class="form-control" required="requiered" type="hidden">

    </div>
    <div class="form-group">
        <label asp-for="migrante.Nombre"></label>
        <input asp-for="migrante.Nombre" class="form-control" required="requiered">

    </div>

    <div class="form-group">
        <label asp-for="migrante.Apellidos"></label>
        <input asp-for="migrante.Apellidos" class="form-control" required="requiered">
    </div>

    <div class="form-group">
        <label asp-for="migrante.TipoDocumento"></label>
        <input asp-for="migrante.TipoDocumento" class="form-control" required="requiered">
    </div>

    <div class="form-group">
        <label asp-for="migrante.NumeroDocumento"></label>
        <input asp-for="migrante.NumeroDocumento" class="form-control" required="requiered">
    </div>

    <div class="form-group">
        <label asp-for="migrante.PaisOrigen"></label>
        <input asp-for="migrante.PaisOrigen" class="form-control" required="requiered">
    </div>

    <div class="form-group">
        <label asp-for="migrante.FechaNacimiento"></label>
        <input asp-for="migrante.FechaNacimiento" class="form-control" required="requiered">
    </div>

    <div class="form-group">
        <label asp-for="migrante.Correo"></label>
        <input asp-for="migrante.Correo" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="migrante.NumeroTelefono"></label>
        <input asp-for="migrante.NumeroTelefono" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="migrante.DireccionActual"></label>
        <input asp-for="migrante.DireccionActual" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="migrante.Ciudad"></label>
        <input asp-for="migrante.Ciudad" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="migrante.SituacionLaboral"></label>
        <input asp-for="migrante.SituacionLaboral" class="form-control" >
    </div>


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Actualizar</button>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Actualizacion Realizada</h5>
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Los datos se actualizaron correctamente, por favor realiza una nueva busqueda
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Continuar</button>

                </div>
            </div>
        </div>
    </div>
    

</form>
