@page
@model Migrantes.App.Presentacion.Pages.VistaMigranteModel
@{

}

<h1>Pagina Home</h1>

<h4>Que desea realizar</h4>

    <div class="form-group">
        <a class="btn btn-primary" asp-page="/User/Consultar"type="button">Consultar informacion</a>
    </div>