@page
@using Migrantes.App.Dominio
@model Migrantes.App.Presentacion.Pages.Migs.ConsultarPorCedulaModel
@{
}

<h1>Consulta de Migrantes</h1>

<form method="get">
    <div class="input-group">
        <label form="Name">Por favor ingrese numero de documento</label>
    </div>
    <br>
    <input class="form-control" asp-for="numeroDocumento" required/>
    <br>
    <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
    <div class="input-group">
        <label form="Name">Por favor ingrese numero de documento a consultar</label>
    </div>
    <br>
    <input class="form-control" asp-for="numeroDocumento1" required/>
    <br>
    <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>



<form method="post" class="scroll">
    <div class="form-group">
        @*<label asp-for="migrante.Id"></label>*@
        <input asp-for="migrante.Id" class="form-control" required="requiered" type="hidden">


    </div>
    <div class="form-group">
        @*<label asp-for="migrante1.Id"></label>*@
        <input asp-for="migrante1.Id" class="form-control" required="requiered" type="hidden" >


    </div>
    <div class="form-group">
        <label asp-for="migrante1.Nombre"></label>
        <input asp-for="migrante1.Nombre" class="form-control" disabled>

    </div>

    <div class="form-group">
        <label asp-for="migrante1.Apellidos"></label>
        <input asp-for="migrante1.Apellidos" class="form-control" disabled>
    </div>

    @* <div class="form-group">
        <label asp-for="migrante.TipoDocumento"></label>
        <input asp-for="migrante.TipoDocumento" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label asp-for="migrante.NumeroDocumento"></label>
        <input asp-for="migrante.NumeroDocumento" class="form-control" disabled>
    </div> *@

    <div class="form-group">
        <label asp-for="migrante1.PaisOrigen"></label>
        <input asp-for="migrante1.PaisOrigen" class="form-control" disabled>
    </div>

    @* <div class="form-group">
        <label asp-for="migrante.FechaNacimiento"></label>
        <input asp-for="migrante.FechaNacimiento" class="form-control" disabled>
    </div> *@

    <div class="form-group">
        <label asp-for="migrante1.Correo"></label>
        <input asp-for="migrante1.Correo" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label asp-for="migrante1.NumeroTelefono"></label>
        <input asp-for="migrante1.NumeroTelefono" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label asp-for="migrante1.DireccionActual"></label>
        <input asp-for="migrante1.DireccionActual" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label asp-for="migrante1.Ciudad"></label>
        <input asp-for="migrante1.Ciudad" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label asp-for="migrante1.SituacionLaboral"></label>
        <input asp-for="migrante1.SituacionLaboral" class="form-control" disabled>
    </div>

     <div class="form-group">
        <label asp-for="amigosyfamiliares.Relacion"></label>
        <input asp-for="amigosyfamiliares.Relacion" class="form-control" required >
    </div>


        @* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Actualizar</button> *@

    <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Añadir Amigo</button>
    </div>

    </div>
    <br>

  

</form>
