@page
@model Migrantes.App.Presentacion.Pages.Entidades.ListModel
@{
}

<h1>Listado de Entidades</h1>
<table class="table">
@foreach (var entidad in Model.Entidades)
{
    <tr>
        <td>@entidad.Ciudad</td>
    </tr>
}

</table>
