@page
@model Migrantes.App.Presentacion.Pages.Entidades.ListModel
@{
}

<h1>Listado de Entidades asociadas a su usuario</h1>
<table class="table">
<tr>
    @* <th>Id</th> *@
    <th>Razon Social</th>
    @* <th>Type</th> *@
    <th>
        <a class="btn btn-success" asp-page="./Edit">
            Add
        </a>
    </th>
</tr>
@foreach (var entity in Model.Entities)
{
    <tr>
        <td>@entity.RazonSocial</td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-pk="@entity.Id">
                Edit
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="./Details" asp-route-pk="@entity.Id">
                Detail
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="../Servicios/ListActivos" asp-route-entidadId="@entity.Id">
                Ver Servicios Habilitados
            </a>
        </td>
    </tr>
}

</table>
