@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<div>
    <h1>Menus para Usuarios dependiendo del Rol</h1>
            <a asp-page="/Migs/List">
                <h2>
                    Menu Migrantes
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Entidades/List">
                <h2>
                    Menu Entidades
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Migs/ListaNecesidades">
                <h2>
                    Consultar Necesidades
                </h2>
            </a>
        </div>
                <div>
            <a asp-page="/Novedades/List">
                <h2>
                    Menu Administracion
                </h2>
            </a>
        </div>
        <br>
        <h1>Menus Publicos para Migrantes</h1>
        <div>
            <a asp-page="/Servicios/ConsultarTodos">
                <h2>
                    Consultar Todos los Servicios
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Novedades/ConsultarNovedades">
                <h2>
                    Consultar Todas las Novedades
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Calificaciones/CalificaciondeApp">
                <h2>
                    Califica nuestra aplicacion E-Migrant
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Calificaciones/CalificaciondeServicios">
                <h2>
                    Califica nuestros Servicios
                </h2>
            </a>
        </div>
         <div>
            <a asp-page="/RegistroEmergencias/RegistrarEmergencias">
                <h2>
                    Registrar Emergencia
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Migs/RegistrarNecesidades">
                <h2>
                    Registrar Necesidades
                </h2>
            </a>
        </div>
</div>
