@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Portal</h1>
    
</div>
            <div  style="text-align: center;">
        <a href="/User/Registrar"><button type="button" class="btn btn-primary">Registrarse</button>

    </div>  

