@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<div>
            <a asp-page="/Migs/List">
                <h2>
                    Migrantes
                </h2>
            </a>
        </div>
        <div>
            <a asp-page="/Entidades/List">
                <h2>
                    Administracion de Entidades
                </h2>
            </a>
        </div>
                <div>
            <a asp-page="/Novedades/List">
                <h2>
                    Administracion de Novedades
                </h2>
            </a>
        </div>
        <br>
        <div>
            <a asp-page="/Servicios/ConsultarTodos">
                <h2>
                    Consultar Todos los Servicios
                </h2>
            </a>
        </div>
        @* <div>
            <a asp-page="/Servicios/List">
                <h2>
                    Servicios
                </h2>
            </a>
        </div> *@
</div>
