@page
@model Migrantes.App.Presentacion.Pages.Usuarios.RegisterModel
@{
}
<h1>Registre sus credenciales para continuar</h1>
<form method="POST">
    <input type="hidden" asp-for="Entity.Id">

    <div>
        <label asp-for="Entity.Username">Nombre de Usuario</label>
        <input asp-for="Entity.Username" class="form-control" required>
        <span class="text-danger" asp-validation-for="Entity.Username"></span>
    </div>

    <div>
        <label asp-for="Entity.Password">Password</label>
        <input type="password" asp-for="Entity.Password" class="form-control" required>
        <span class="text-danger" asp-validation-for="Entity.Password"></span>
    </div>

    @* <div>
        <label asp-for="Entity.Rol">Escoja un Rol</label>
        <select asp-for="Entity.Rol" asp-items="Html.GetEnumSelectList<Migrantes.App.Dominio.Rol>()"
            class="form-control" required></select>
        <span class="text-danger" asp-validation-for="Entity.Rol"></span>
    </div> *@

    <div class="form-group">
        <button type="submit" class="btn btn-success">Salvar</button>
        <a asp-page="../Index" class="btn btn-danger">
            Cancelar
        </a>
    </div>
</form>
