@page
@model Migrantes.App.Presentacion.Pages.Novedades.ListModel
@{
}

<h1>Menu Administracion de Novedades</h1>
<table class="table">
<tr>
    <th>Id</th>
    <th>Fecha</th>
    <th>
        <a class="btn btn-success" asp-page="./Edit">
            Agregar
        </a>
    </th>
</tr>
@foreach (var entity in Model.Entities)
{
    <tr>
        <td>@entity.Id</td>
        <td>@entity.FechaNovedad</td>
        <td>
            <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-pk="@entity.Id">
                Edit
            </a>
        </td>
        <td>
            <a class="btn btn-info table-btn" asp-page="./Details" asp-route-pk="@entity.Id">
                Detail
            </a>
        </td>
    </tr>
}

</table>
